.root {
    -fx-background-color: lightgrey;
}

.custom-button1 {
    -fx-background-color: orange;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: black;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20px;
    -fx-min-width: 200px;
    -fx-min-height: 50px;
}

.custom-button2 {
    -fx-background-color: red;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: black;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20px;
    -fx-min-width: 200px;
    -fx-min-height: 50px;
}

.custom-button3 {
    -fx-background-color: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-min-width: 100px;
    -fx-min-height: 50px;
}

.custom-button4 {
    -fx-background-color: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-min-width: 200px;
    -fx-min-height: 50px;
}